/* design tokens */
:root {
  --primary-bg: white;
  --primary-txt: black;
  --secondary-bg: black;
  --secondary-txt: white;
  --accent: #d4966a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;
}

h1,
h2 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-weight: 300;
  line-height: 1.75;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: crosshair;
}

/* hero */

.hero {
  height: 70vh;
  background-image: url("images/pexels-adrien-olichon-2387606.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 25vw;
}

.hero::before {
  content: "";
  position: absolute;
  width: 25vw;
  height: inherit;
  background: var(--secondary-bg);
  z-index: -1;
}

.hero-content {
  display: flex;
  height: inherit;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 10vh;
  gap: 10vw;
}

.title.lg {
  color: var(--secondary-txt);
  mix-blend-mode: difference;
}

.intro {
  width: 40ch;
  background: #ffffff90;
  backdrop-filter: blur(2px);
  padding: 1rem;
}

.cta {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border: none;
  margin: 1rem;
}

.cta::after {
  content: ">>";
  background: var(--accent);
  position: absolute;
  top: 0;
  right: -2rem;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main */
.grid {
  display: grid;
  grid-template-columns: repeat(autofill, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem;
  margin: 5vw;
}

.text-block {
  padding: 2rem;
}

.text-block.light {
  background: var(--primary-bg);
  color: var(--primary-txt);
}

.text-block.dark {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
}

/* footer */
.footer {
  background: var(--secondary-bg);
  color: var(--secondary-txt);
  height: 35vh;
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.title.sm {
  font-size: 1.5rem;
  text-align: end;
}

.address {
  width: 45ch;
  font-size: 0.9rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.icon {
  fill: var(--secondary-txt);
  transition: transform 200ms ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 751px) {
  #one {
    grid-column: 1 / span 2;
  }

  #two {
    grid-column: 3 / span 4;
  }

  #three {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
  }

  #four {
    grid-column: 5 / span 2;
  }

  #five {
    grid-column: 5 / span 2;
  }
  .footer {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .title.lg {
    font-size: 3rem;
  }
  .hero {
    background-position: 0;
  }
  .grid,
  .footer {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
