/* design tokens */
:root {
  primary-bg: white;
  primary-txt: black;
  secondary-bg: black;
  secondary-txt: white;
  accent: #d4966a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid magenta;
}

body {
  font-family: "Noto Sans Display", sans-serif;
}

h1,
h2 {
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

.hero {
  height: 70vh;
  background-image: url("images/pexels-adrien-olichon-2387606.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 25vw;
}

.hero::before {
  content: "";
  position: absolute;
  width: 25vw;
  height: inherit;
  background: black;
  z-index: -1;
}

.hero-content {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-around;
  gap: 10vw;
}

.title.lg {
  font-size: 4rem;
  color: white;
}

.intro {
  width: 40ch;
}
